<div id="partners" class="sm:my-40 text-center">
  <strong
    class="font-semibold text-3xl sm:text-5xl text-transparent bg-clip-text bg-red-right"
  >
    Partners
  </strong>
  <div class="flex justify-center mt-20 space-x-10">
    <a href="https://google.de" class="partner-logo">
      <img src="/assets/partners/google.png" alt="Google" />
    </a>
  </div>
</div>

<style>
  .partner-logo {
    filter: grayscale(100%);
    transition: filter 0.3s;
  }

  .partner-logo img {
    width: 150px;
  }

  .partner-logo:hover {
    filter: grayscale(0%);
  }
</style>
