---
import Layout from "@/layouts/Layout.astro";
import Search from "@/components/Search";
import type { Frontmatter } from "@utils/types";

function comparePosts(postA: any, postB: any) {
  if (new Date(postA.frontmatter.date) < new Date(postB.frontmatter.date)) {
    return 1;
  }
  return -1;
}

const posts = await Astro.glob("../../pages/blog/*.md");
/* @ts-ignore */
const sortedPostFrontmatter: Frontmatter[] = posts.map(
  (post) => post.frontmatter
);
---

<Layout title="Blog | AITU" description="AITU Blog">
  <main>
    <div class="mt-10">
      <a href="/" class="text-sm text-accent">Back</a>
      <h1 class="my-6 text-3xl font-medium sm:text-4xl">Blog</h1>
      <p class="text-lg font-light text-secondary md:w-3/4">
        In the AITU blog we write about insightful discussion in our reading
        groups, reflections on coding projects, as well as reflection on hosted
        talks.
      </p>
    </div>
    <Search searchList={sortedPostFrontmatter} client:load />
  </main>
</Layout>
