---
import Layout from "../layouts/Layout.astro";
import BlissathonHeader from "@components/hackathon/Header.astro";
import BlissathonFeatures from "@components/hackathon/Features.astro";
import BlissathonSchedule from "@components/hackathon/Schedule.astro";
import ThreeScence2 from "@components/ThreeScence-2.astro";
import BlissathonPartners from "@components/hackathon/Partners.astro";
import BlissathonFAQ from "@components/hackathon/FAQ.astro";
---

<Layout
  title="Blissathon 2024"
  description="Blissathon 2024 machine learning hackathon at Google"
>
  <main>
    <ThreeScence2 />
    <BlissathonHeader />
    <BlissathonFeatures />
    <BlissathonSchedule />
    <BlissathonFAQ />
    <BlissathonPartners />
  </main>
</Layout>
