---
import Layout from "../layouts/Layout.astro";
import BlissathonHeader from "@components/BlissathonHeader.astro";
import BlissathonFeatures from "@components/BlissathonFeatures.astro";
import BlissathonSchedule from "@components/BlissathonSchedule.astro";
import ThreeScence2 from "@components/ThreeScence-2.astro";
import BlissathonPartners from "@components/BlissathonPartners.astro";
import BlissathonFAQ from "@components/BlissathonFAQ.astro";
---

<Layout
  title="Blissathon 2023"
  description="Blissathon 2023 machine learning hackathon at the TU Berlin"
>
  <main>
    <ThreeScence2 />
    <BlissathonHeader />
    <BlissathonFeatures />
    <BlissathonSchedule />
    <BlissathonFAQ />
    <BlissathonPartners />
  </main>
</Layout>
