---
import Layout from "../layouts/Layout.astro";
import { LazyThree } from "../components/LazyThree.tsx";
import Landing from "../components/Landing.astro";
import Papers from "../components/Papers.astro";
import SpeakerSeries from "@components/SpeakerSeries.astro";
import Banner from "@components/Banner.astro";
---

<Layout
  title="BLISS - Machine Learning student initiative in Berlin"
  description="The AI student initiative in Berlin. We connect people with great interest and passion for the field of machine learning. Weekly Reading Group & Speaker Events."
>
  <main>
    <LazyThree client:only />
    <Banner
    <Landing />
    <SpeakerSeries />
  </main>
</Layout>
