---
import Layout from "../layouts/Layout.astro";
import ThreeScence from "../components/ThreeScence.astro";
import Landing from "../components/Landing.astro";
import Activities from "../components/Activities.astro";
import Recent from "../components/Recent.astro";
import Newsletter from "../components/Newsletter.astro";
---

<Layout
  title="AITU"
  description="Student organisation at the IT University of Copenhagen dedicated to staying up-to-date with the latest research in AI"
>
  <main>
    <ThreeScence />
    <Landing />
    <Activities />
    <Recent />
    <Newsletter />
  </main>
</Layout>
