---
import Layout from "../layouts/Layout.astro";
import ThreeScence from "../components/ThreeScence.astro";
import Landing from "../components/Landing.astro";
import Activities from "../components/Activities.astro";
import Papers from "../components/Papers.astro";
import Events from "../components/Events.astro";
import Partners from "../components/Partners.astro";
---

<Layout
  title="BLISS"
  description="A student organisation at the TU Berlin that connects people with great interest and passion for the field of machine learning."
>
  <main>
    <ThreeScence />
    <Landing />
    <Activities />
    <Events />
    <Papers />
    <!--<Partners />-->
  </main>
</Layout>
