---
import Layout from "../layouts/Layout.astro";
import ThreeScence from "../components/ThreeScence.astro";
import Landing from "../components/Landing.astro";
import Activities from "../components/Activities.astro";
import Papers from "../components/Papers.astro";
import Events from "../components/Events.astro";
---

<Layout
  title="BLISS"
  description="Berlin Learning and Intelligent Systems Society - A student-run organization for students interested in machine learning and artificial intelligence in Berlin."
>
  <main>
    <ThreeScence />
    <Landing />
    <Activities />
    <Papers />
    <Events />
  </main>
</Layout>
