---
import Layout from "../layouts/Layout.astro";
import ThreeScence from "../components/ThreeScence.astro";
import Landing from "../components/Landing.astro";
import Papers from "../components/Papers.astro";
import SpeakerSeries from "@components/SpeakerSeries.astro";
import Banner from "@components/Banner.astro";
//import Partners from "../components/Partners.astro";
---

<Layout
  title="BLISS - Machine Learning student initiative in Berlin"
  description="The AI student initiative in Berlin. We connect people with great interest and passion for the field of machine learning. Weekly Reading Group & Speaker Events."
>
  <main>
    <ThreeScence />
    <Banner />
    <Landing />
    <SpeakerSeries />
    <!--<Partners />-->
  </main>
</Layout>
