---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Join Us | AITU" description="Join the AI community at ITU.">
  <main>
    <div class="max-w-4xl mt-10">
      <a href="/" class="text-sm text-accent">Back</a>
      <h1 class="my-6 text-3xl font-medium sm:text-4xl">Join Us!</h1>
      <p class="text-lg font-light text-secondary">
        We welcome students from all backgrounds and experience levels. Those
        with more experience are encouraged to actively participate in
        discussions, while those with less experience can engage as attentive
        listeners. Both roles contribute valuable perspectives to our community.
      </p>
      <br />
      <p class="text-lg font-light text-secondary">
        We communicate via Slack which you can join via this <a
          class="text-accent"
          href="https://join.slack.com/t/aitu-dk/shared_invite/zt-2qcg1foqs-aencmgj~1Fhit6ptjcdVEA"
          >link</a
        >. After joining, please react with emoji to the message in the general
        channel inviting the members to the next AITU’s meeting. This is
        important so we know how many people we should expect each week.
      </p>
      <br />
      <p class="text-lg text-secondary font-light">
        In this <a href="/schedule" class="text-accent">preliminary schedule</a>
        you can find our meeting dates and activities. We meet every:
      </p>
      <blockquote
        class="px-4 py-2 my-4 text-lg border-l-4 bg-background-secondary border-accent"
      >
        📅 Thursday, 6-7PM, for room see the Slack channel.
      </blockquote>
    </div>
  </main>
</Layout>
