---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Join Us | AITU" description="Join the AI community at ITU.">
  <main>
    <div class="max-w-4xl mt-10">
      <a href="/" class="text-sm text-accent">Back</a>
      <h1 class="my-6 text-3xl font-medium sm:text-4xl">Join Us!</h1>
      <p class="text-lg font-light text-secondary">
        Joining our organisation is simple: Simply show up to our next meeting.
      </p>
      <blockquote
        class="px-4 py-2 my-4 text-lg border-l-4 bg-background-secondary border-accent"
      >
        📅 Thursday, 6-8PM @ Novo Nordisk Innovation Hub, ITU
      </blockquote>
      <p class="my-2 text-lg font-light text-secondary">
        We recommend to <strong>write to us</strong> in advance of the meeting. We
        will add you to our internal Notion and Slack channels, so that you can get
        acquainted with the organisation and know which paper we are reading next.
      </p>
      <p class="my-2 text-lg font-light text-secondary">
        Kindly email us at
        <a href="mailto:hello@aitu.group" class="text-primary"
          >hello@aitu.group</a
        > 📥. We are looking forward to hear from you and will get back shortly!
      </p>
    </div>
  </main>
</Layout>
