---
import Layout from "../layouts/Layout.astro";
---

<Layout
  title="Join Us | BLISS"
  description="Join the Berlin AI student community."
>
  <main>
    <div class="max-w-4xl mt-10">
      <a href="/" class="text-sm text-accent">Back</a>
      <h1 class="my-6 text-3xl font-medium sm:text-4xl">Join Us!</h1>
      <p class="text-lg font-light text-secondary">
        Joining our organisation is simple: Simply show up to our next meeting.
      </p>
      <blockquote
        class="px-4 py-2 my-4 text-lg border-l-4 bg-background-secondary border-accent"
      >
        📅 Tuesday, 7PM <a
          href="https://www.google.com/maps/place/WiWi-Cafe/@52.511762,13.3250431,15z/data=!4m6!3m5!1s0x47a851e4412c1173:0x615246b7255baead!8m2!3d52.511762!4d13.3250431!16s%2Fg%2F11fd_q2_27?entry=ttu"
          >@WiWi Cafe,TU Berlin</a
        >
        <p class="my-2 text-lg font-light text-secondary">
          We are looking forward to seeing you there!
        </p>
      </blockquote>
    </div>
  </main>
</Layout>
