---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Join Us | AITU" description="AITU Blog">
  <main>
    <div class="mt-60">
      <a href="/" class="text-sm text-accent">Back</a>
      <h1 class="text-3xl sm:text-4xl lg:text-5xl font-medium my-6">Join Us!</h1>
      <p class="text-secondary font-light sm:text-lg md:text-xl md:w-3/4">
        If you want to join the organisation, please reach out to <a href="mailto:hello@aitu.group" class="text-primary">hello@aitu.group</a> and tell us what makes you a good member. You can, for example talk about previous education and experience with ML, your motivation to learning more about ML and becoming part of a community. 
      </p>
      <p class="text-secondary font-light mt-2 sm:text-lg md:text-xl md:w-3/4">
        We will then review you application and will get back to you shortly.
      </p>
  </main>
</Layout>
