---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Schedule" description="Spring 2026 Schedule">
  <main>
    <div class="max-w-4xl mt-10">
      <a href="/" class="text-sm text-accent">Back</a>
      <h1 class="my-6 text-3xl font-medium sm:text-4xl">
        Academic Calendar — Spring 2026
      </h1>
      <p class="text-lg font-light text-secondary my-2">
        This is the current schedule for Spring 2026.
      </p>
      <ul class="my-4 text-lg font-light text-secondary">
        <li>
          <strong>Week 12 (18/03):</strong> <a href="https://www.anthropic.com/research/labor-market-impacts" class="text-accent">Labor market impacts of AI: A new measure and early evidence</a> by Anthropic
        </li>
        <li>
          <strong>Week 13 (25/03):</strong> <a href="https://arxiv.org/abs/2006.11239" class="text-accent">Denoising Diffusion Probabilistic Models</a>
        </li>
        <li>
          <strong>Week 14:</strong> Easter break
        </li>
        <li>
          <strong>Week 15 (08/04):</strong> <a href="https://www.anthropic.com/research/statistical-approach-to-model-evals" class="text-accent">A statistical approach to model evaluations</a> by Anthropic
        </li>
        <li>
          <strong>Week 16 (15/08):</strong> <a href="https://arxiv.org/abs/2401.04088" class="text-accent">Mixtral of Experts</a> by Minstral AI
        </li>
        <li>
          <strong>Week 17 (22/04):</strong> Mini hackathon 16-22
        </li>
        <li>
          <strong>Week 18 (29/04):</strong> <a href="https://arxiv.org/abs/2601.20245" class="text-accent">How AI Impacts Skill Formation</a>
        </li>
        <li>
          <strong>Week 19 (06/05):</strong> <a href="https://arxiv.org/abs/2502.21321" class="text-accent">LLM Post-Training: A Deep Dive into Reasoning Large Language Models</a>
        </li>
      </ul>
    </div>
  </main>
</Layout>


