---
interface Activity {
  title: string,
  description: string
}
const activities: Activity[] = [
  {
    title: "Reading",
    description: "Together, we read and discuss one AI research paper every week."
  },
  {
    title: "Projects",
    description: "We work on hands-on coding projects and real-world case studies."
  },
  {
    title: "Talks",
    description: "We host insightful talks given by experts from academia and industry."
  },

]
---

<div id="activities" class="flex w-full flex-col items-end leading-relaxed text-right pt-32">
  {activities.map((activity: Activity) => {
    return (
      <p class="first:mt-0 mt-10 text-transparent bg-clip-text bg-amethyst-right">{activity.title}.</p>
      <p id={activity.title.toLowerCase()} class="text-5xl md:text-6xl text-gray-400 md:w-3/5">{activity.description}</p>
    )
  })
</div>

<script>
  const activities = document.getElementById("activities")!;
  const reading = document.getElementById("reading")!;
  const projects = document.getElementById("projects")!;
  const talks = document.getElementById("talks")!;

  handleScroll();
  function handleScroll() {
    const windowHeight = window.innerHeight;
    const { top, height } = activities.getBoundingClientRect();

    const pixelsIntoViewport = windowHeight / 2 - top;
    if (pixelsIntoViewport <= height / 3) {
      // first
      reading.style.color = "white";
      projects.style.color = "gray";
      talks.style.color = "gray";
    } else if (pixelsIntoViewport >= (2 * height) / 3) {
      // last
      reading.style.color = "gray";
      projects.style.color = "gray";
      talks.style.color = "white";
    } else {
      // middle
      reading.style.color = "gray";
      projects.style.color = "white";
      talks.style.color = "gray";
    }
  }

  document.addEventListener("scroll", handleScroll);
</script>
