---
interface Activity {
  title: string;
  description: string;
}
const activities: Activity[] = [
  {
    title: "Reading Group",
    description: "Read and discuss an AI research paper every week.",
  },
  {
    title: "Community Events",
    description: "Connect with like minded AI enthusiasts.",
  },
  {
    title: "Speaker Series",
    description: "Learn from talks by experts from academia and industry.",
  },
];
---

<astro-activities
  data-message={activities}
  id="activities"
  class="flex flex-col items-end w-full pt-32 leading-relaxed text-right"
>
  {
    activities.map((activity: Activity) => {
      return (
        <>
          <p class="mt-10 text-3xl text-transparent first:mt-0 bg-clip-text bg-amethyst-right">
            {activity.title}.
          </p>
          <p
            id={activity.title.toLowerCase()}
            class="mt-2 text-4xl text-gray-400 md:text-5xl md:w-3/5 transition-colors duration-300"
          >
            {activity.description}
          </p>
        </>
      );
    })
  }

  <script>
    // get relevant divs
    const activities = document.getElementById("activities")!;
    const reading = document.getElementById("reading")!;
    const projects = document.getElementById("labs")!;
    const talks = document.getElementById("talks")!;

    // get global styles
    const primary = getComputedStyle(document.documentElement).getPropertyValue(
      "--primary"
    );
    const tertiary = getComputedStyle(
      document.documentElement
    ).getPropertyValue("--tertiary");

    let windowHeight: number;

    function handleResize() {
      windowHeight = window.innerHeight;
    }

    function handleScroll() {
      const { top, height } = activities.getBoundingClientRect();

      const pixelsIntoViewport = windowHeight / 2 - top;
      if (pixelsIntoViewport <= height / 3) {
        // first
        reading.style.color = primary;
        projects.style.color = tertiary;
        talks.style.color = tertiary;
      } else if (pixelsIntoViewport >= (2 * height) / 3) {
        // last
        reading.style.color = tertiary;
        projects.style.color = tertiary;
        talks.style.color = primary;
      } else {
        // middle
        reading.style.color = tertiary;
        projects.style.color = primary;
        talks.style.color = tertiary;
      }
    }

    handleResize();
    handleScroll();
    document.addEventListener("scroll", handleScroll);
    document.addEventListener("resize", handleResize);
  </script>
</astro-activities>
