---
const { authors } = Astro.props;
---

<div class="flex items-center">
  {
    authors.map((author: string) => (
      <img
        src={`/authors/${author.toLowerCase().replaceAll(" ", "-")}.png`}
        class="w-7 h-7 first:-ml-0 -ml-3 rounded-full"
      />
    ))
  }
  <p class="text-md text-secondary tracking-wider truncate px-2">
    {authors.join(", ")}
  </p>
</div>
