---
interface Props {
  author: string;
}
const { author, size = "md" } = Astro.props;
---

<div class="flex items-center space-x-2">
  <img
    src={`/authors/${author.toLowerCase().replaceAll(" ", "-")}.png`}
    class="w-7 h-7 rounded-full"
  />
  <p class="text-md tracking-wider text-secondary">{author}</p>
</div>
