---
interface Props {
  id?: string;
  hover?: boolean;
}
const { id, hover = false } = Astro.props;
---

<div
  data-message={JSON.stringify(Astro.props)}
  id={id}
  class={`no-underline tracking-wider text-accent bg-accent-dark px-1 font-medium rounded-lg ${
    hover ? "hover:shadow-accent-small transition-shadow" : ""
  }`}
>
  <slot />
</div>

<style>
  .inactive {
    background-color: var(--background-secondary);
    color: var(--tertiary);
  }
</style>
