---
const { id } = Astro.props;
---

<div data-message={JSON.stringify(Astro.props)} id={id}  class="no-underline tracking-wider px-2 font-medium rounded-md bg-accent-dark text-accent hover:shadow-accent-small cursor-pointer transition-shadow duration-300" >
  <slot />
</div>

<style>
  .inactive {
    background-color: var(--background-secondary);
    color: var(--tertiary);
  }
</style>
