<div class="flex items-center justify-center grow">
    <a
        href="https://www.meetup.com/bliss-speaker-series/"
        class="bg-accent text-lg rounded-lg text-center grow py-4"
    >
        Get your <strong>free</strong> AI Speaker Series ticket now!
    </a>
</div>

<style>
    .bg-accent {
        background-color: rgba(210, 55, 70, 0.4);
    }
</style>
