<div class="overflow-hidden py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div
      class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2"
    >
      <div style="overflow: hidden;">
        <img
          src="/assets/eins.webp"
          alt="Product screenshot"
          class="w-[48rem] max-w-none rounded-xl shadow-xl ring-1 ring-gray-400/10 sm:w-[57rem] md:-ml-4 lg:-ml-0"
          width="2432"
          height="1442"
        />
      </div>
      <div class="ml-10">
        <strong
          class="text-3xl sm:text-5xl text-transparent bg-clip-text bg-red-right"
        >
          Schedule
        </strong>
        <ol
          class="relative border-l border-gray-200 dark:border-gray-700 max-w-2xl mt-4 font-light leading-relaxed text-secondary text-md sm:text-xl"
        >
          <li class="mb-5 ml-4">
            <div
              class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
            >
            </div>
            <time
              class="mb-1 text-sm leading-none text-transparent bg-clip-text bg-red-bottom"
              >09:00</time
            >
            <h3
              class="text-lg font-semibold max-w-2xl leading-relaxed text-secondary"
            >
              Breakfast and Welcome
            </h3>
          </li>
          <li class="mb-5 ml-4">
            <div
              class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
            >
            </div>
            <time
              class="mb-1 text-sm leading-none text-transparent bg-clip-text bg-red-bottom"
              >09:30</time
            >
            <h3
              class="text-lg font-semibold max-w-2xl leading-relaxed text-secondary"
            >
              Topic Presentation
            </h3>
          </li>
          <li class="mb-5 ml-4">
            <div
              class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
            >
            </div>
            <time
              class="mb-1 text-sm leading-none text-transparent bg-clip-text bg-red-bottom"
              >12:00</time
            >
            <h3
              class="text-lg font-semibold max-w-2xl leading-relaxed text-secondary"
            >
              Lunch
            </h3>
          </li>
          <li class="mb-5 ml-4">
            <div
              class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
            >
            </div>
            <time
              class="mb-1 text-sm leading-none text-transparent bg-clip-text bg-red-bottom"
              >15:00</time
            >
            <h3
              class="text-lg font-semibold max-w-2xl leading-relaxed text-secondary"
            >
              Presentations
            </h3>
          </li>
          <li class="mb-5 ml-4">
            <div
              class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
            >
            </div>
            <time
              class="mb-1 text-sm leading-none text-transparent bg-clip-text bg-red-bottom"
              >22:00</time
            >
            <h3
              class="text-lg font-semibold max-w-2xl leading-relaxed text-secondary"
            >
              Final Hand-in
            </h3>
          </li>
          <li class="mb-5 ml-4">
            <div
              class="absolute w-3 h-3 bg-gray-200 rounded-full mt-1.5 -left-1.5 border border-white dark:border-gray-900 dark:bg-gray-700"
            >
            </div>
            <time
              class="mb-1 text-sm leading-none text-transparent bg-clip-text bg-red-bottom"
              >23:00</time
            >
            <h3
              class="text-lg font-semibold max-w-2xl leading-relaxed text-secondary"
            >
              Winner Announcement
            </h3>
          </li>
        </ol>
      </div>
    </div>
  </div>
</div>
