---
interface Props {
  post: any;
}

const { file } = Astro.props.post;
const slug = file.split("/").slice(-1).at(0).split(".").at(0);
const { title, imgSrc, date } = Astro.props.post.frontmatter;
---

<a
  href={`/blog/${slug}`}
  class="bg-black border-[0.5px] border-tertiary hover:shadow-accent hover:decoration-transparent rounded-lg transition-shadow duration-300"
>
  <div class="h-80 flex flex-col items-center">
    <img src={imgSrc} alt={imgSrc?.split("/").slice(-1).at(-1)} class="h-3/5 w-full object-cover rounded-t-lg" />
    <div class="flex-1 flex flex-col items-center justify-center">
      <h1 class="text-center text-3xl my-2">{title}</h1>
      <div class="flex items-center justify-center space-x-2">
        <p class="font-thin text-tertiary">
          {new Date(date.replace(/-/g, "/")).toLocaleString("en-US", { year: "numeric", month: "short", day: "numeric" })}
        </p>
        <p class="px-1 text-sm font-medium bg-accent/20 text-accent rounded-md">5 Minutes Read</p>
      </div>
    </div>
  </div>
</a>
