---
import Card from "@components/Card";
import type { Frontmatter } from "@utils/types";

const currentDate = new Date();

const mostRecent = (await Astro.glob("../pages/blog/*.md"))
  .filter((post) => post.frontmatter.format === "event")
  .filter((event) => {
    const publishedDate = new Date(event.frontmatter.published);
    return publishedDate >= currentDate.setHours(0, 0, 0, 0);
  })
  .sort((postA, postB) => {
    const publishedDateA = new Date(postA.frontmatter.published);
    const publishedDateB = new Date(postB.frontmatter.published);

    if (publishedDateA === publishedDateB) {
      return 0;
    }
    return publishedDateA < publishedDateB ? 1 : -1;
  })
  .slice(0, 3);

const hasUpcomingEvents = mostRecent.length > 0;
---

<div id="events" class="pt-32 sm:my-40">
  <strong
    class="text-3xl sm:text-5xl text-transparent bg-clip-text bg-red-right"
  >
    Events
  </strong>
  <p
    class="max-w-2xl mt-4 font-light leading-relaxed text-secondary text-md sm:text-xl"
  >
    We meet <strong class="text-primary"
      >every Tuesday at 7 pm in <a
        href="https://www.google.com/maps/place/WiWi-Cafe/@52.511762,13.3250431,15z/data=!4m6!3m5!1s0x47a851e4412c1173:0x615246b7255baead!8m2!3d52.511762!4d13.3250431!16s%2Fg%2F11fd_q2_27?entry=ttu"
        >WiWi Cafe @TU Berlin</a
      ></strong
    > for our weekly meetups. We alternate between speaker events, featuring renowned
    machine learning researchers, and community events like hackathons and workshops.
    After the events, we unwind with cold drinks and engaging conversations about
    machine learning and more.
  </p>
  <h3 class="font-semibold text-xl sm:text-3xl mt-20">Upcoming Events</h3>
  <div class="flex flex-col mt-8 space-y-10">
    {
      hasUpcomingEvents ? (
        mostRecent.map((post) => (
          <Card frontmatter={post.frontmatter} centered />
        ))
      ) : (
        <div>
          <h2 class="font-semibold text-xl mb-2">
            🚀 Get Ready for the Next Event!
          </h2>
          <p class="max-w-2xl mt-4 font-light leading-relaxed text-secondary text-md sm:text-xl">
            Currently there is no upcoming event or we were just too lazy to put
            it on the website. In doubt, just come to our weekly meetup.
          </p>
        </div>
      )
    }
  </div>
  <div class="flex items-center justify-center mt-10">
    <a
      href="/blog"
      class="text-transparent bg-clip-text bg-red-right hover:text-accent hover:underline"
      >Browse All Events in Blog</a
    >
  </div>
</div>
