---
---

<div
  id="footer"
  class="w-full pt-16 pb-10 font-light leading-relaxed text-secondary"
>
  <div class="container text-right">
    <p class="font-extralight">
      Say Hello
      <a
        href="mailto:bliss.berlin@protonmail.com"
        class="font-medium text-primary">bliss.berlin@protonmail.com</a
      >.
    </p>
    <p class="font-extralight">
      Or find us on
      <a
        href="https://www.github.com/Bliss-e-V"
        target="_blank"
        class="font-medium text-primary">GitHub</a
      > or
      <a
        href="https://www.linkedin.com/company/bliss-berlin/"
        target="_blank"
        class="font-medium text-primary">LinkedIn</a
      >.
    </p>
    <p id="copyright" class="mt-5 text-sm text-tertiary font-extralight">
      &copy; Bliss e.V., 2023
    </p>
  </div>
</div>

<script>
  const copyright = document.getElementById("copyright")!;

  copyright.innerHTML = `&copy; Bliss e.V., ${new Date().getFullYear()}`;
</script>
