---

---

<div
  id="footer"
  class="w-full pt-16 pb-10 font-light leading-relaxed text-secondary"
>
  <div class="container text-center">
    <p class="font-extralight">
      Say Hello
      <a href="mailto:mail@bliss.berlin" class="font-medium text-primary"
        >mail@bliss.berlin</a
      >.
    </p>
    <p class="font-extralight mt-5">
      <a
        href="https://www.linkedin.com/company/bliss-berlin/"
        target="_blank"
        class="font-medium text-primary pr-4"
        ><img
          src="assets/linkedin.svg"
          alt="LinkedIn"
          class="h-[40px] w-[40px] inline-block bg-white rounded"
        /></a
      >

      <a
        href="https://www.github.com/Bliss-e-V"
        target="_blank"
        class="font-medium text-primary pr-4"
      >
        <img
          src="assets/github.svg"
          alt="GitHub"
          class="h-[40px] w-[40px] inline-block"
        />
      </a>

      <a
        href="https://join.slack.com/t/mltuberlin/shared_invite/zt-25ozmz3u8-DpNkQXP7UOEPPZbppSX~VA"
        target="_blank"
        class="font-medium text-primary"
      >
        <img
          src="assets/slack.svg"
          alt="Slack"
          class="h-[40px] w-[40px] inline-block"
        />
      </a>
    </p>
    <p id="copyright" class="mt-5 text-sm text-tertiary font-extralight">
      &copy; Bliss e.V., 2024
    </p>
  </div>
</div>

<script>
  const copyright = document.getElementById("copyright")!;

  copyright.innerHTML = `&copy; Bliss e.V., ${new Date().getFullYear()}`;
</script>
