---
import "@fontsource/righteous";
---

<div class="flex flex-col justify-center h-screen -mt-40">
  <h1
    id="title"
    class="py-1 text-4xl font-black tracking-wider text-transparent md:text-5xl md:w-3/4 bg-clip-text bg-red-bottom"
  >
    Berlin Learning & Intelligent Systems Society
  </h1>
  <p
    id="subtitle"
    class="mt-2 text-2xl font-light leading-snug text-secondary md:text-3xl md:w-1/2"
  >
    <strong class="text-primary">BLISS</strong> is a <span
      class="text-transparent bg-clip-text bg-red-bottom"
      >student organisation</span
    > at the Technical University of Berlin that connects people with great interest
    and passion for the field of machine learning.
  </p>
</div>

<style>
  @keyframes animation {
    from {
      transform: translateY(30px);
      opacity: 0;
    }
    to {
      transform: translateY(0px);
      opacity: 100%;
    }
  }

  #title,
  #subtitle {
    opacity: 0;
    transform: translatey(10px);
    animation-name: animation;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  #title {
    animation-delay: 1s;
  }
  #subtitle {
    animation-delay: 1.4s;
  }
</style>
