---
---

<div class="h-screen flex flex-col justify-center sm:w-1/2">
  <h1 class="text-6xl sm:text-7xl md:text-8xl tracking-wider text-transparent bg-clip-text bg-amethyst font-black">AI@ITU</h1>
  <p class="mt-2 text-3xl :text-4xl">That's AITU. We are a group of students with a special interest in AI.</p>
</div>
