---
---

<div id="newsletter" class="pt-32 sm:mt-40">
  <h2 class="text-3xl font-medium sm:text-5xl sm:text-center">
    Join our
    <span class="text-transparent bg-clip-text bg-amethyst-right"
      >Newsletter</span
    >
    📬
  </h2>
  <p
    class="max-w-2xl mx-auto mt-4 font-light leading-relaxed text-justify text-secondary text-md sm:text-xl"
  >
    In our newsletter we reflect on insightful readings, completed projects and
    summarise the take-aways from external talks. <i>
      You can expect around two emails per month.</i
    >
  </p>
  <div
    class="flex flex-col items-center justify-center w-full max-w-3xl mx-auto md:flex-row md:items-start md:space-x-2 my-14"
  >
    <div class="flex-1 w-full">
      <input
        id="email"
        placeholder="Your Email"
        type="email"
        class="w-full bg-transparent border-b md:text-lg border-tertiary hover:border-accent focus:border-accent focus:outline-none placeholder:text-secondary"
      />
      <label class="block mt-1 text-sm text-left text-tertiary"
        >Enter a valid email address.</label
      >
    </div>
    <button
      id="signup"
      class="w-full px-2 m-0 mt-8 font-medium tracking-wider md:w-20 md:mt-0 rounded-md bg-accent-dark text-accent hover:shadow-accent-small focus:outline-none focus:shadow-accent-small transition-shadow duration-300"
      >Sign Up</button
    >
  </div>
  <p
    id="response"
    class="w-full h-8 max-w-3xl text-sm opacity-0 text-secondary md:text-md transition-opacity duration-300"
  >
  </p>
</div>

<script>
  /* @ts-ignore */
  const email: HTMLInputElement = document.getElementById("email")!;
  const signup: HTMLElement = document.getElementById("signup")!;
  const response: HTMLElement = document.getElementById("response")!;

  const emptyMessage: string = "Please enter an email.";
  const invalidMessage: string = "Please enter a valid email.";
  const validMessage: string =
    "Thank you for signing up! You will receive a confirmation email shortly.";

  function validateEmail(mail: string) {
    if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(mail)) {
      return true;
    }
    return false;
  }

  function handleClick() {
    // no input
    if (email.value === "") {
      response.innerText = emptyMessage;
    } else if (!validateEmail(email.value)) {
      response.innerText = invalidMessage;
    } else {
      response.innerText = validMessage;
    }
    response.style.opacity = "100%";
    email.value = "";

    setTimeout(() => {
      response.innerText = "";
      response.style.opacity = "0%";
    }, 3000);
  }

  signup.addEventListener("click", handleClick);
</script>
