---
import Card from "@components/Card";
import type { Frontmatter } from "@utils/types";

function comparePosts(postA: any, postB: any) {
  const frontmatterA: Frontmatter = postA.frontmatter;
  const frontmatterB: Frontmatter = postB.frontmatter;
  if (new Date(frontmatterA.published) < new Date(frontmatterB.published)) {
    return 1;
  }
  return -1;
}

const posts = await Astro.glob("../pages/blog/*.md");
const papers = posts.filter((post) => post.frontmatter.format === "paper");
const mostRecent = papers.sort(comparePosts).slice(0, 1);
---

<div id="reading-group" class="pt-32 sm:my-40">
  <strong
    class="font-semibold text-3xl sm:text-5xl text-transparent bg-clip-text bg-red-right"
  >
    Reading Group
  </strong>
  <p
    class="max-w-2xl mt-4 font-light leading-relaxed text-justify text-secondary text-md sm:text-xl"
  >
    Every week we read a paper from the broader field of AI and discuss it in
    our reading group meeting <strong class="text-primary"
      >every Tuesday at 6 pm in <a
        href="https://www.google.com/maps/place/WiWi-Cafe/@52.511762,13.3250431,15z/data=!4m6!3m5!1s0x47a851e4412c1173:0x615246b7255baead!8m2!3d52.511762!4d13.3250431!16s%2Fg%2F11fd_q2_27?entry=ttu"
        >WiWi Cafe @TU Berlin</a
      ></strong
    >. We talk about the paper's main ideas, its strengths and weaknesses, and
    how it relates to other papers we have read. Additionally, we try to resolve
    any questions one might have about the paper. Don't worry if you are not
    experienced with reading academic papers yet, as our group is a great
    opportunity to listen and learn.
  </p>
  <h3 class="font-semibold text-xl sm:text-3xl mt-20">Paper of the week</h3>
  <div class="flex flex-col mt-5 space-y-10">
    {/* @ts-ignore */}
    {mostRecent.map((post) => <Card frontmatter={post.frontmatter} centered />)}
  </div>
  <div class="flex items-center justify-center mt-10">
    <a
      href="/blog"
      class="text-transparent bg-clip-text bg-red-right hover:text-accent hover:underline"
      >Check all Reading Group Papers in our Blog</a
    >
  </div>
</div>
