<div id="partners" class="pt-32 sm:my-40 text-center">
  <strong
    class="font-semibold text-3xl sm:text-5xl text-transparent bg-clip-text bg-red-right"
  >
    Partners
  </strong>
  <p
    class="max-w-4xl mt-4 mx-auto font-light leading-relaxed text-justify text-secondary text-md sm:text-xl"
  >
    We are always eager to form partnerships with like-minded organizations,
    research labs and AI companies who share our passion for artificial
    intelligence. Together, we can host research-focused speaker events,
    interactive workshops, and hear real-world stories. As a non-profit
    organization, we also rely on donations to sustain our work. We are proud to
    collaborate with the following partners who contribute to our mission. If
    you have any ideas or would like to contribute, feel free to approach us at <a
      href="mailto:bliss.berlin@protonmail.com"
      class="text-transparent bg-clip-text bg-red-right hover:text-accent hover:underline"
      >bliss.berlin@protonmail.com</a
    >
  </p>
  <div class="flex justify-center mt-20 space-x-10">
    <a href="https://www.gresearch.com/" class="partner-logo">
      <img src="/assets/partners/g-research.png" alt="g-research" />
    </a>
    <a href="https://aws.amazon.com" class="partner-logo">
      <img src="/assets/partners/aws.png" alt="aws" />
    </a>
  </div>
</div>

<style>
  .partner-logo {
    filter: grayscale(100%);
    transition: filter 0.3s;
  }

  .partner-logo img {
    width: 150px;
  }

  .partner-logo:hover {
    filter: grayscale(0%);
  }
</style>
