---
import Card from "@components/Card.astro";
import { dayToPapers, Paper } from "./data/papers";

const today = new Date().toISOString().split("T")[0];

const futurePapers = Object.entries(dayToPapers)
    .filter(([date, papers]) => date >= today)
    .reduce((obj, [date, papers]) => {
        obj[date] = papers;
        return obj;
    }, {});
const futurePaperList = Object.entries(futurePapers)
    .sort(([date1], [date2]) => date2.localeCompare(date1))
    .map(([, event]) => event)
    .reverse() as Paper[][];

const pastPapers = Object.entries(dayToPapers)
    .filter(([date, papers]) => date < today)
    .reduce((obj, [date, papers]) => {
        obj[date] = papers;
        return obj;
    }, {});

const pastPaperList = Object.entries(pastPapers)
    .sort(([date1], [date2]) => date1.localeCompare(date2))
    .map(([, event]) => event)
    .reverse() as Paper[][];
---

<div>
    <strong
        class="text-4xl sm:text-5xl text-transparent bg-clip-text bg-red-right"
        >Reading Group
    </strong>
    <div
        class="w-full mb-10 max-w-full border-b sm:border-b-0 h-[0px] sm:h-[1px] bg-gradient-to-r from-gray-200 to-transparent ..."
    >
    </div>

    <div class="mb-10">
        This semester, the reading group will convene at 6pm every second
        Tuesday in MAR 0.003, starting on the 23.04.2024. Our sessions will
        entail in-depth discussions on upcoming papers. Each gathering will
        involve an discussion of two papers, accompanied by a brief introductory
        presentation from one of the attendees. Our initial focus will be on
        self-supervised learning, followed by optimizers. Please read the papers
        in advance!
    </div>

    {
        futurePaperList.length > 0 && (
            <div class="my-2">
                <strong class="text-3xl sm:text-5xl text-transparent bg-clip-text bg-red-right">
                    Upcoming
                </strong>
                <div class="flex items-center justify-center flex-col mt-2 sm:mt-4">
                    {futurePaperList.map((papers) => {
                        return (
                            <div class="w-10/12 mt-4">
                                {papers.map((paper, i) => {
                                    return (
                                        <Card
                                            paper={paper}
                                            hasBorder={i == papers.length - 1}
                                        />
                                    );
                                })}
                            </div>
                        );
                    })}
                </div>
            </div>
        )
    }

    <div class="my-2 mt-4">
        <strong
            class="text-3xl sm:text-5xl text-transparent bg-clip-text bg-red-right"
            >Past
        </strong>
        <div class="flex items-center justify-center flex-col mt-2 sm:mt-4">
            {
                pastPaperList.map((papers) => {
                    return (
                        <div class="w-10/12">
                            {papers.map((paper, i) => {
                                return (
                                    <Card
                                        paper={paper}
                                        hasBorder={i == papers.length - 1}
                                    />
                                );
                            })}
                        </div>
                    );
                })
            }
        </div>
    </div>
</div>
