---
import Card from "@components/Card";
import type { Frontmatter } from "@utils/types";

function comparePosts(postA: any, postB: any) {
  if (new Date(postA.frontmatter.date) < new Date(postB.frontmatter.date)) {
    return 1;
  }
  return -1;
}

const posts = await Astro.glob("../pages/blog/*.md");
const mostRecent = posts.sort(comparePosts).slice(0, 3);
---

<div id="recent" class="pt-32 sm:my-40">
  <h2 class="text-3xl font-medium sm:text-5xl sm:text-center">
    <strong class="text-transparent bg-clip-text bg-amethyst-right"
      >Recently</strong
    > @ AITU
  </h2>
  <p
    class="max-w-2xl mx-auto mt-4 font-light leading-relaxed text-justify text-secondary text-md sm:text-xl"
  >
    In our blog we write about news in the organisation, summarise insightful
    discussion, events and talks that we host, as well post technical summaries
    of selected papers from our reading group.
  </p>
  <div class="flex flex-col items-center mt-20 space-y-10">
    {/* @ts-ignore */}
    {mostRecent.map((post) => <Card frontmatter={post.frontmatter} centered />)}
  </div>
  <div class="flex items-center justify-center mt-10">
    <a
      href="/blog"
      class="text-transparent bg-clip-text bg-amethyst-right hover:text-accent hover:underline"
      >See all blog posts</a
    >
  </div>
</div>
