---
import { speakers } from "./data/speakers";
---

<div class="flex items-center flex-wrap justify-center">
    <div id="speaker Series" class="pt-32 sm:my-40 text-center">
        <strong
            class="text-4xl sm:text-5xl text-transparent bg-clip-text bg-red-right"
        >
            Speaker Series
        </strong>
        <p
            class="mt-4 font-light leading-relaxed text-secondary text-md sm:text-xl"
        >
            Get your <strong class="text-primary">free</strong> tickets for the
            speaker series now!
        </p>
        <div class="mt-4 text-center">
            <a
                href="https://www.meetup.com/bliss-speaker-series/"
                class="p-3 px-12 bg-accent text-gray-300 rounded-md px-2 text-lg hover:bg-gray-200 hover:text-gray-700 sm:text-xl text-center duration-300"
                >Get Your Ticket</a
            >
        </div>
        <ol class="relative border-l border-gray-200 dark:border-gray-700">
            {
                speakers
                    .sort((a, b) => a.date - b.date)
                    .map((speaker) => (
                        <a
                            href={speaker.url}
                            aria-label="Event details"
                            class="no-underline"
                        >
                            <li
                                class={`py-1 mt-6 rounded-md duration-200 ${
                                    speaker.past ? "" : "hover:bg-li"
                                }`}
                            >
                                <div
                                    class={`absolute -left-1.5 w-3 h-3 bg-gray-200 rounded-full mt-1.5 border ${
                                        speaker.next
                                            ? "border-white"
                                            : "border-gray-900 bg-gray-700"
                                    }`}
                                />
                                <div class="text-left pl-4 border-left">
                                    <p
                                        class={`text-base sm:text-lg ${
                                            speaker.past
                                                ? "text-gray-500"
                                                : "text-secondary"
                                        }`}
                                    >
                                        {speaker.date.toLocaleDateString(
                                            "en-US",
                                            {
                                                year: "numeric",
                                                month: "long",
                                                day: "numeric",
                                            },
                                        )}
                                    </p>
                                    <p
                                        class={`text-xl sm:text-2xl font-bold ${
                                            speaker.past
                                                ? "text-gray-500"
                                                : "text-transparent bg-clip-text bg-red-right"
                                        }`}
                                    >
                                        {speaker.title}
                                    </p>
                                    <p
                                        class={`text-lg sm:text-xl ${
                                            speaker.past
                                                ? "text-gray-500"
                                                : "text-secondary"
                                        }`}
                                    >
                                        {speaker.name},{" "}
                                        <strong>{speaker.affiliation}</strong>
                                    </p>
                                </div>
                            </li>
                        </a>
                    ))
            }
        </ol>
    </div>
</div>

<style>
    .hover\:bg-li:hover {
        background-color: rgba(203, 45, 62, 0.25);
    }
</style>
