---
export interface Props {
  title: string;
  description: string;
  headerTitle?: string;
}
const { title, headerTitle, description } = Astro.props;

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <meta property="og:image" content="https://webpage-dun.vercel.app/assets/aitubanner.png" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image"></meta>
    <meta name="theme-color" content="#000000" />
    <link rel="icon" href="/favicon.ico" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#000000" />
    <link rel="manifest" href="/site.webmanifest" />
  </head>
  <body class="flex flex-col min-h-screen items-center selection:bg-accent/30 selection:text-primary">
    <Header headerTitle={headerTitle} />
    <div class="container flex-1">
      <slot />
    </div>
    <Footer />
  </body>

  <style is:global>
    :root {
      --accent: #9a4fba;
      --accent-dark: #1f1025;
      --accent-light: #cda7dd;
      --background: #000000;
      --background-secondary: #101010;
      --primary: #ffffff;
      --secondary: #adb5bd;
      --tertiary: #6c757d;
      --border: #3B424D;
    }

    ::selection {
      background: var(--accent-dark);
    }

    html {
      background-color: var(--background);
    }

    body {
      color: var(--primary);
      line-height: 2;
    }

    a {
      text-underline-offset: 4px;
    }

    a:hover {
      text-decoration: underline;
    }

    .nounderline:hover {
      text-decoration: none;
    }

    .container {
      width: 100%;
      max-width: 72rem;
      padding-left: 20px;
      padding-right: 20px;
      margin: 0 auto;
    }

    .full-width {
      width: 100vw;
      position: relative;
      left: 50%;
      right: 50%;
      margin-left: -50vw;
      margin-right: -50vw;
    }
  </style>
</html>
