---
interface Props {
  title: string;
  description: string;
  headerTitle?: string;
  ogImage?: string;
}
const { title, headerTitle, description, ogImage }: Props = Astro.props;

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

import "../global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <meta
      name="google-site-verification"
      content="JPCxgxFKHswbNQIzm_zDjkKNypiBTPEMCdghvWvYifw"
    />
    <meta
      property="og:image"
      content={ogImage
        ? ogImage
        : "https://www.bliss.berlin/assets/bliss-banner.jpg"}
    />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary_large_image" /><meta
      name="theme-color"
      content="#000000"
    /><link rel="icon" href="/favicon.ico" /><link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/favicon-32x32.png"
    /><link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/favicon-16x16.png"
    /><link rel="apple-touch-icon" href="/apple-touch-icon.png" /><link
      rel="mask-icon"
      href="/safari-pinned-tab.svg"
      color="#000000"
    /><link rel="manifest" href="/site.webmanifest" /></head
  >

  <body>
    <Header headerTitle={headerTitle} />
    <div class="container flex-1 pt-40">
      <slot />
    </div>
    <Footer />
  </body>
</html>

<script>
  // enable web analytics via vercel
  import { inject } from "@vercel/analytics";

  // @ts-ignore
  globalThis.process = { env: { NODE_ENV: import.meta.env.MODE } };
  inject();
</script>

<style is:global>
  :root {
    --accent: #cb2d3e;
    --accent-dark: #3c0909;
    --accent-light: #ef473a;
    --background: #000000;
    --background-secondary: #101010;
    --primary: #ffffff;
    --secondary: #adb5bd;
    --tertiary: #6c757d;
    --border: #3b424d;
  }

  ::selection {
    background: var(--accent);
    color: white;
  }

  html {
    background-color: var(--background);
  }

  body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    color: var(--primary);
    line-height: 2;
  }

  a {
    text-decoration: underline;
    text-decoration-color: transparent;
    text-underline-offset: 4px;
    transition: text-decoration-color 300ms;
  }

  a:hover {
    text-decoration-color: var(--color);
  }

  .nounderline:hover {
    text-decoration-color: transparent;
  }

  .container {
    width: 100%;
    max-width: 72rem;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
  }

  .full-width {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }

  article h1,
  article h2,
  article h3 {
    @apply text-primary;
  }
  article h1 {
    @apply text-3xl sm:text-5xl;
  }

  article h2 {
    @apply text-2xl sm:text-4xl;
  }

  article h3 {
    @apply text-xl sm:text-2xl;
  }

  article p {
    @apply my-1 text-justify;
  }

  article p,
  article li {
    @apply text-secondary text-lg font-light sm:leading-relaxed sm:text-xl;
  }
  article hr {
    @apply border-t-[1px] border-border mb-2;
  }

  article strong {
    @apply text-primary font-normal;
  }

  article blockquote {
    @apply bg-background-secondary border-l-4 border-accent px-3 py-2 my-2;
  }

  article p > code {
    @apply text-[85%] text-accent bg-accent-dark rounded-lg p-1;
  }

  article pre {
    @apply p-4 my-4 rounded-lg;
  }

  article ol,
  article ul {
    @apply my-2;
  }
  article ul li {
    @apply list-item list-disc ml-[30px];
  }

  article ol li {
    @apply list-item list-decimal ml-[30px];
  }

  article h2,
  article h3 {
    @apply mt-8 mb-2;
  }
  article a {
    color: #9a4fba;
  }
  article img {
    @apply mx-auto my-4 rounded-lg;
  }

  .excalidraw {
    filter: invert(100%) hue-rotate(180deg);
  }
</style>
